/* landingPage.css */

.custom-btn {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  border: 2px solid #007bff;
  border-radius: 5px;
  color: #007bff;
  background-color: transparent;
  transition: background-color 0.3s, color 0.3s;
}

.custom-btn:hover {
  background-color: #007bff;
  color: #fff;
}



.back-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999; /* Ensure the button appears on top of other content */
}
