.search-medical-record {
  margin: 20px;
}

.search-container {
  margin-bottom: 20px;
}

.sorting-buttons {
  display: flex;
  justify-content: space-between;
}

.sorting-buttons button {
  width: 200px;
  white-space: nowrap; /* Prevent text wrapping */
}

.record-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
}

.record {
  border: 1px solid #ccc;
  padding: 10px;
  cursor: pointer;
}

.record:hover {
  background-color: #f0f0f0;
}
